<div class="container">
  <h1 class="mt-5">Lista de Todos</h1>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Buscar todos..." [(ngModel)]="searchTerm" (input)="updateSearchButton()">
    <button class="btn btn-primary" [disabled]="!updateSearchButton()" (click)="searchTodos()">Buscar</button>
  </div>
  <ul *ngIf="filteredTodos.length > 0; else noResults" class="list-group">
    <li class="list-group-item" *ngFor="let todo of filteredTodos">
      {{ todo.title }}
      <button class="btn btn-secondary" (click)="verDetalle(todo.id)">Ver Detalle</button>
    </li>
  </ul>
  <ng-template #noResults>
    <p>No se encontraron resultados.</p>
  </ng-template>
</div>
